<div>
  <div class="about-page-container">
    <img class="about-page__image" src="../../assets/img/IMG_3276.jpeg">
    <div class="about-page__title">About Alaina</div>
    <p class="about-page__text">
      Alaina graduated from Kennesaw State University in December 2018 with a Bachelors of Science in Computer Science
      and a minor in Professional Writing. She is a full time developer at OneTrust. She loves to learn new things and
      is always ready to accept a challenge.
    </p>
    <br />
    <div>
      <h2>EXPERIENCE</h2>
    </div>
    <p class="about-page__text">
      OneTrust LLC, UI Developer Intern May 2018 – Present<br />
      ● Contributed to OneTrust’s component library by improving existing components and writing new
      components<br />
      ● Collaborated with other developers to come up with new solutions and features for the OneTrust
      application<br />
      ● Supported the Data Mapping Team with any feature additions or bug fixes<br />
      ● Built the dueling picklist component, which was used in several places in the OneTrust application,
      into the component library and wrote the associated unit test with it<br />
      ● Contributed many new features to the UI of the Data Mapping module in Onetrust application<br /><br />

      ESI Inc. of Tennessee, Assistant System Administrator May 2016 – May 2018<br />
      ● Provided onsite troubleshooting for engineers and other employees in-house<br />
      ● Maintained company network infrastructure, and provide support for any issues such as outages<br />
      ● Wrote company-wide emails and documentation detailing any changes to the IT infrastructure that
      will affect the end user<br />
      ● Researched new technologies that may benefit the company<br />
      ● Served as Acting System Administrator when the System Administrator was out of the office<br />
      ● Provided excellent communication skills in describing technical solutions to non-technical personnel<br />
      ● Used critical thinking skills to solve a multitude of problems within the IT infrastructure<br /><br />

      Orderly, (formerly Siftit Inc.), Code Camp Intern June 2014 – August 2014<br />
      ● Collaborated with three other interns and a development team to write and maintain JUnit tests for
      Sifit Application<br />
      ● Met daily with development team in a stand-up to discuss daily goals and current progress<br />
      ● Attended daily two-hour classes on subjects such as Product Management, Design Patterns, and Unit
      Testing<br />
      ● Wrote new JUnit tests to test the mobile version of the Siftit Application<br /><br />
    </p>

    <h2>TECHNICAL SKILLS</h2>
    <p class="about-page__text">
        Programming Languages: JavaScript, Angular (4-6), Typescript, Java, C#<br />
        Other Technologies: JIRA and Agile Methodologies, Git, Node.js, NPM<br />
        Developing Environments: Visual Studio Code, IntelliJ, Visual Studio<br />
        Operating Systems: MacOS, Windows Server and End User, CentOS Linux<br /><br />
    </p>

    <h2>
      CONTACT INFO
    </h2>
    <p class="about-page__text">For business inquiries, email alaina@cookdev.org.</p>
    <a class="about-page__text" href="https://www.linkedin.com/in/alaina-hammonds-5534a3a4">Alaina's LinkedIn</a>
  </div>
</div>
