.about-page-container {
    background: rgb(21,21,21);
    max-width: 750px;
    margin: auto;
    padding: 30px;
}

.about-page__title {
    color: #4591db;
    text-align: center;
    font-size: 18px;
    font-family: Georgia, serif, cursive;
}

.about-page__text {
    color: #4591db;
    font-size: 12px;
    font-family: Georgia, serif, cursive;
}

.about-page__image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
}