<div>
  <div class="about-page-container">
    <img class="about-page__image" src="../../assets/img/daniel-img.jpeg">
    <div class="about-page__title">About Daniel</div>
    <p class="about-page__text">
      Daniel is both a student and enthusiast of the world of computing. Having spent the past 5 years studying and
      working in IT, he has learned that if a problem exists - it can most likely be solved using technology. Nothing is
      more rewarding to me than solving a complex problem through critical analysis and implementation of a solution. He
      will always take the opportunity to learn something new, because in the world of IT, knowledge is power.
    </p>
    <p class="about-page__text">
      Daniel will graduate from Kennesaw State University in May 2019 with a Bachelors Degree in Information Technology
      with a focus in web development.
    </p>
  </div>
</div>
