<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<div>
  <header class="slds-global-header_container top-nav-container">
    <div class="slds-global-header top-nav">
      <a routerLink="" class="slds-global-header__item nav-item">Home</a>
      <a routerLink="about-daniel" class="slds-global-header__item nav-item"><i class="fas fa-male"></i>Daniel</a>
      <a routerLink="about-alaina" class="slds-global-header__item nav-item"><i class="fas fa-female"></i>Alaina</a>
    </div>
 </header>
</div>

<div class="component-container">
  <router-outlet></router-outlet>
</div>
