.top-nav-container {
    position: fixed;
    width: 100vw;
    height: 5vh;
    background: rgb(22, 22, 22);
    z-index: 500;
    border-bottom-color: white;
}

.brand {
    font-family: Georgia, serif, cursive;
    font-size: 100%;
    color: white;
}

.menu-item {
    color: white;
}

.top-nav {
    background: black;
}

.component-container {
    margin: 50px;
    padding-top: 30px;
}

.web-background {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-image: url('../assets/img/back-img.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Sliding Vertical Navbar for Mobile */

.slide-nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    display: inline-block;
}

.slide-in {
    position: fixed;
    z-index: 450;
    text-align: center;
    top: 5.001vh;
    bottom: 0;
    background-color: black;
    opacity: .91;
    color: white;
    transition: all 0.2s ease-out;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.slide-out {
  position: fixed;
  top: 0;
  bottom: 0;
  top: -1000px;
  z-index: -5;
  width: 100%;
  transition: all 0.5fs ease-in;
}

.nav-item {
    text-align: center;
    color: white;
    background-color: transparent;
    border: none;
    align-items: center;
}

.nav-item:hover {
    background-color: black;
    opacity: .5;
}

.dropdown-list {
    background: gray;
    border: none;
}

.nav-bar-hover:hover {
  background-color: unset;
  opacity: 1;
}
