<div>
  <div class="about-page-container">
    <h1>Alaina's Projects</h1>
    <hr>
    <h2> <a href="http://medassistproject.herokuapp.com">Med-Assist</a></h2>
    <img class="med-assist-logo" src="../../assets/img/MedAssistLogo.JPG">
    <p class="about-page__text">Alaina worked with a team of four other students at Kennesaw State University to create
      her senior project,
      Med-Assist. Med-Assist is a telemedicine web application that helps medical professionals connect with patients to
      provide better care out of the doctor' office. The application manages patient appointments, personal information,
      prescription refill requests, and any medical forms and reports. Additionally, the application provides a
      doctor-to-patient chat system for quick interaction between the doctor and the patient. </p>

    <p class="about-page__text">
      Accomplishments <br />
      - Designed application mockups<br />
      - Developed the UI of the application<br />
      - Designed and created an AWS S3 repository for reports and forms<br />
      - Maintained a Kanban board with tasks for the development team<br />
      - Presented the project for Kennesaw State University's Industry Advisory Board<br />
    </p>

    <img src="../../assets/img/MedAssist.JPG">

    <hr>

    <h2>Critical Wakeup</h2>
    <p class="about-page__text">Alaina worked with five other students at Kennesaw State University to developer the
      Android app Critical Wakeup. Critical Wakeup is an alarm app that, based on a certain critical level set by the
      user, displays puzzles of varying difficulty that must be solved to turn off the alarm. THis app can be useful for
      people who have trouble waking up in the mornings or have important deadlines they're afraid of sleeping through.
    </p>

    <p class="about-page__text">
      Accomplishments <br />
      - Designed app mockups for all screens<br />
      - Created front end for Android app<br />
      - Gave presentations to class and professor for using app
    </p>

  </div>
</div>
